.container{
    width: 80%;
    margin: 0 auto;
}

.halfs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-thirds{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 65%;
}