*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
}

body{
    color: $color-white;
    font-family: 'Merriweather', serif;
    background-color: $body-background;
}